[Unit]
Description=corsairmi
After=multi-user.target

[Service]
Type=idle
KillSignal=SIGINT
ExecStart=/home/alex/.cargo/bin/corsairmi-mqtt

[Install]
WantedBy=multi-user.target
